:root {
    --col-b-1: #0e0e0e;
    --col-b-2: #111111;
    --col-b-3: #141414;
    --col-b-4: #1e1e1e;

    --col-t-1: #999999;
    --col-t-2: #aaaaaa;
    --col-t-3: #dddddd;

    --col-s-1: #433f64;
    --col-s-2: #69629d;
}
