.sc-green {
    color: #03d46c;
}

.sc-red {
    color: #e95a5a;
}

.sc-purple {
    color: #9819f9;
}

.sc-blue {
    color: #0099ff;
}

.sc-turquoise {
    color: #12ddd3;
}

.sc-violet {
    color: #dd3d7b;
}

.sc-olive {
    color: #a3ae8f;
}

.sc-gold {
    color: #fed634;
}

.sc-slate {
    color: #a0ac89;
}

.sc-nightblue {
    color: #8181e3;
}

