#header-left {
    display: inline-block;
    font-variation-settings: "MONO" 1;
}

#header-right {
    display: inline-block;
    float: right;
    font-variation-settings: "MONO" 1;
}

#header-right a:not(:last-child) {
    display: inline-block;
    margin-right: 1em;
}

