header p {
    margin: 0;
}

#header-left {
    margin-right: auto;
    font-variant: small-caps;
}

#header-right {
    font-variant: small-caps;
}

#header-right a:not(:last-child) {
    display: inline-block;
    margin-right: 1em;
}

