#headline {
    margin:             1.5em 0 2em 0;

    border:             0.15em solid;
    box-shadow:         0.4em 0.4em;
}

#headline {
    & h1 {
        margin-bottom:  0;
        margin-top:     0;

        font-size:      1.8em;
    }

    & p {
        display:        inline-block;

        margin-bottom:  0;
        margin-top:     0.3em;

        line-height:    1.4;
    }
}

#headline-inner {
    margin:             1.4em;
}
