html {
    scroll-behavior: smooth;
}

:target {
    outline: none;
    scroll-margin-top: 10em;
    scroll-snap-margin-top: 10em; /* Safari 11 or older */
}

:target::after {
    content: " 🟅";
}

body {
    background-color: var(--col-b);
    color: var(--col-t);
    font-size: 0.8em; /* @ */
    word-spacing: 2px;
    font-family: var(--font-t);
    margin: 0;
}

a {
    color: var(--col-t);
    text-decoration: underline 3px var(--col-s);
    transition: opacity 0.2s;
}

a:hover {
    opacity: 65% !important;
}

.area {
    margin: 15px auto;
    overflow: auto;
    width: 100%; /* @ */
}

.area > div {
    margin: 20px; /* @ */
}

::selection {
    background-color: var(--col-t);
    color: var(--col-b);
}

@media only screen and (min-width: 700px) {
    body {
        font-size: 1.7em;
    }

    .area {
        max-width: 90%;
        width: 45em;
    }

    .area > div {
        margin: 30px 40px;
    }
}
