body {
    background-color: var(--col-x2);
    color: var(--col-y0);
    font-size: 0.8em; /* @ */
    font-family: var(--font-0);
    font-variation-settings: "MONO" 0, "CASL" 0.25, "wght" 400, "slnt" 0, "CRSV" 0.5;
    margin: 0;
}

em {
    font-variation-settings: "CASL" 1, "slnt" -15, "CRSV" 1;
}

strong, h1, h2, h3, h4, th {
    font-variation-settings: "CASL" 1, "wght" 800;
}

a {
    color: var(--col-y1);
    text-decoration: none;
    transition: opacity 0.2s;
}

a:hover {
    opacity: 65% !important;
}

.panel {
    background-color: var(--col-x0);
    border-radius: 0; /* @ */
    margin: 15px auto;
    overflow: auto;
    width: 100%; /* @ */
}

.panel > div {
    margin: 20px; /* @ */
}

::selection {
    background-color: var(--col-y1);
    color: var(--col-x2);
}

@media only screen and (min-width: 700px) {
    body {
	font-size: 1.2em;
    }

    .panel {
	border-radius: 15px;
	width: 68%;
    }

    .panel > div {
	margin: 30px 40px;
    }
}

