@font-face {
    font-family: "Crimson Text";
    src: url("/res/fonts/CrimsonText-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Crimson Text";
    src: url("/res/fonts/CrimsonText-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Crimson Text";
    src: url("/res/fonts/CrimsonText-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Crimson Text";
    src: url("/res/fonts/CrimsonText-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url("/res/fonts/NotoSansSymbols-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Noto Sans Symbols 2";
    src: url("/res/fonts/NotoSansSymbols2-Regular.ttf");
}

:root {
    --col-b: #f7f3ee; /* Color: Background */
    --col-s: #dddbd8; /* Color: Subtle     */
    --col-t: #5a544c; /* Color: Text       */

    /* Font: Text */
    --font-t: "Crimson Text", "Noto Sans Symbols", "Noto Sans Symbols 2", serif;
    /* Font: Monospace */
    --font-m: monospace;
}
