:root {
    --col-x0: #11111b;
    --col-x1: #181825;
    --col-x2: #1e1e2e;
    --col-y0: #cdd6f4;
    --col-y1: #b4befe;

    --font-main: "Space Grotesk", sans-serif;
    --font-mono: "Space Mono", monospace;
}

