---
title: Codex
---

<p class="centered">
    <strong>CAUTION:</strong><br />
    Early development stage. Expect inconsistencies.
</p>

<ul class="post-listing">
    <li><a href="/codex/intro">Introduction</a></li>
    <li><a href="/codex/glossary">Notation Glossary</a></li>
</ul>

{% for branch in site.data['codex']['branches'] %}
    <h2>{{ branch['name'] }}</h2>

    <ul class="post-listing">
        {% for topic in branch['topics'] %}
            <li><a href="/codex/{{ branch['id'] }}/{{ topic['id'] }}">
                {{ topic['name'] }}
            </a></li>
        {% endfor %}
    </ul>
{% endfor %}
