---
layout: post
title: All Posts
categories: meta
ignore_date: true
permalink: /post/:title/
---

{% assign CATES = "math, art, yume, misc, meta" | split: ", " %}
{% assign CATES_DISP = "Mathematics, Art, Dream Diary, Miscellaneous, Meta" | split: ", " %}

{% for cate in CATES %}

    <h2>{{ CATES_DISP[forloop.index0] }}</h2>
    <ul class="bulletless">
	{% for post in site.categories[cate] %}
	    {% unless post.tags contains "zh" %}
		{% if post.tags contains "pinned" %}
		    <li>{% exhibit post %}</li>
		{% endif %}
	    {% endunless %}
	{% endfor %}
	
	{% for post in site.categories[cate] %}
	    {% unless post.tags contains "zh" %}
		{% unless post.tags contains "pinned" %}
		    <li>{% exhibit post %}</li>
		{% endunless %}
	    {% endunless %}
	{% endfor %}
    </ul>


    {% if cate == "yume" %}
	<p>English transition of the dreams will arrive someday.</p>
    {% elsif site.categories[cate] == nil %}
	<p>Nothing here yet.</p>
    {% endif %}

    {% assign zh_posts_exist = false %}
    {% for post in site.categories[cate] %}
	{% if post.tags contains "zh" %}
	    {% assign zh_posts_exist = true %}
	    {% break %}
	{% endif %}
    {% endfor %}

    {% if zh_posts_exist %}
	<h2>{{ CATES_DISP[forloop.index0] }} <sup>ZH</sup></h2>
	<ul class="bulletless">
	    {% for post in site.categories[cate] %}
		{% if post.tags contains "zh" %}
		    {% if post.tags contains "pinned" %}
			<li>{% exhibit post %}</li>
		    {% endif %}
		{% endif %}
	    {% endfor %}

	    {% for post in site.categories[cate] %}
		{% if post.tags contains "zh" %}
		    {% unless post.tags contains "pinned" %}
			<li>{% exhibit post %}</li>
		    {% endunless %}
		{% endif %}
	    {% endfor %}
	</ul>
    {% endif %}

    {% if cate == "yume" %}
    <p>More dream records are coming soon. The numerous firsthand drafts of dream records I've written down over these years, which are quite rough, have to be edited and polished before being published.</p>
    {% endif %}
{% endfor %}
