---
layout: post
title: All Posts
categories: meta
ignore_date: true
permalink: /post/:title/
---

{% assign CATES = "math, art, dream, misc, meta" | split: ", " %}
{% assign CATES_DISP = "Mathematics, Art, Dream Diary, Miscellaneous, Meta" | split: ", " %}

{% for cate in CATES %}

{% assign cate_disp = CATES_DISP[forloop.index0] %}
{% assign en_posts = site.categories[cate] | without_tag: "zh" %}
{% assign zh_posts = site.categories[cate] | with_tag: "zh" %}
{% assign zh_exists = 0 %}
{% if zh_posts != empty %}
    {% assign zh_exists = 1 %}
{% endif %}

{% for rendering_zh in (0 .. zh_exists) %}

    {% if rendering_zh == 1 %}
	{% assign posts = zh_posts %}
	<h2>{{ cate_disp }} <sup>ZH</sup></h2>
    {% else %}
	{% assign posts = en_posts %}
	<h2>{{ cate_disp }}</h2>
    {% endif %}

    {% if cate == "dream" %}
	{% assign diaries = posts | with_tag: "diary" %}
	{% assign outers = posts | without_tag: "diary" %}
	<ul class="bulletless">
	    {% for outer in outers %}
		{% exhibit outer %}
	    {% endfor %}
	</ul>
	{% for year in (2020 .. 2024) reversed %}
	    {% assign year_disp = year | append: "" %}
	    <h3>{{ year }}</h3>
	    <ul class="bulletless diary-list">
		{% for month in (1 .. 12) %}
		    {% assign month_disp = month | prepend: "00" | slice: -2, 2 %}
		    {% assign diary_url = "" %}
		    {% for diary in diaries %}
			{% assign slug_split = diary.slug | split: "-" %}
			{% assign diary_year = slug_split[2] %}
			{% assign diary_month = slug_split[3] %}
			{% if diary_year == year_disp and diary_month == month_disp %}
			    {% assign diary_url = diary.url %}
			    {% break %}
			{% endif %}
		    {% endfor %}
		    {% unless diary_url == "" %}
			<li><code><a href="{{ diary_url }}">{{ month_disp }}</a></code></li>
		    {% else %}
			<li><code>{{ month_disp }}</code></li>
		    {% endunless %}
		{% endfor %}
	    </ul>
	{% endfor %}
    {% else %}
	<ul class="bulletless">
	    {% for post in posts %}
		<li>{% exhibit post %}</li>
	    {% endfor %}
	    {% if posts == empty %}
		<p>Nothing here.</p>
	    {% endif %}
	</ul>
    {% endif %}

{% endfor %}

{% endfor %}
