---
layout: post
title: All Posts
categories: meta
ignore_date: true
permalink: /post/:title/
---

{% assign CATES = "math, math-diary, art, dream-diary, dream-diary-zh, misc, meta" | split: ", " %}
{% assign CATES_DISP = "Mathematics, Math Diary, Art, Dream Diary, Dream Diary (ZH), Miscellaneous, Meta" | split: ", " %}

{% for cate in CATES %}

    {% assign cate_disp = CATES_DISP[forloop.index0] %}

    <h2>{{ cate_disp }}</h2>

    {% assign posts = site.categories[cate] %}

    {% if cate contains "-diary" %}
	{% assign diaries = posts | reject: "plankton", true %}
	{% assign plankters = posts | where: "plankton", true %}
	<ul class="bulletless">
	    {% for plankter in plankters %}
		{% exhibit plankter %}
	    {% endfor %}
	</ul>
	{% if cate == "dream-diary" %}
	    {% continue %}
	{% elsif cate == "dream-diary-zh" %}
	    {% assign year_start = 2020 %}
	    {% assign year_end = 2021 %}
	{% elsif cate == "math-diary" %}
	    {% assign year_start = 2025 %}
	    {% assign year_end = 2025 %}
	{% endif %}
	{% for year in (year_start .. year_end) reversed %}
	    {% assign year_disp = year | append: "" %}
	    <h3>{{ year }}</h3>
	    <ul class="bulletless diary-list">
		{% for month in (1 .. 12) %}
		    {% assign month_disp = month | prepend: "00" | slice: -2, 2 %}
		    {% assign diary_url = "" %}
		    {% for diary in diaries %}
			{% assign slug_split = diary.slug | split: "-" %}
			{% assign diary_year = slug_split[2] %}
			{% assign diary_month = slug_split[3] %}
			{% if diary_year == year_disp and diary_month == month_disp %}
			    {% assign diary_url = diary.url %}
			    {% break %}
			{% endif %}
		    {% endfor %}
		    {% unless diary_url == "" %}
			<li><code><a href="{{ diary_url }}">{{ month_disp }}</a></code></li>
		    {% else %}
			<li><code>{{ month_disp }}</code></li>
		    {% endunless %}
		{% endfor %}
	    </ul>
	{% endfor %}
    {% else %}
	<ul class="bulletless">
	    {% for post in posts %}
		<li>{% exhibit post %}</li>
	    {% endfor %}
	    {% if posts == empty %}
		<p>Nothing here.</p>
	    {% endif %}
	</ul>
    {% endif %}

{% endfor %}
