---
layout: post
title: Post categories
categories: post meta
ignore_date: true
---
{% assign CATES = "math, yume, misc, meta" | split: ", " %}
{% assign CATES_DISP = "Mathematics, Dreams, Miscellaneous, Meta" | split: ", " %}

{% for cate in CATES %}
    {% unless cate == "post" %}
	<h2 style="margin: 1.8em 0 0.6em 0 !important;">{{ CATES_DISP[forloop.index0] }}</h2>
	<ul class="bulletless">
	    {% for post in site.categories[cate] %}
		<li><a href="{{ post.url }}">{{ post.title }}</a>{% unless post.ignore_date %} | {{ post.date | date: "%b %d, %Y" }}{% endunless %}</li>
	    {% endfor %}
	</ul>
    {% endunless %}
{% endfor %}
