html {
    height: 100%;
}

body {
    background-color: #111;
    color: #fefefe;
    font-family: "Space Grotesk", sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

a {
    color: pink;
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 1.0;
}

a:hover {
    opacity: 0.7;
}

p {
    font-size: 20px; /* mobile */
    margin: 30px 0px;
}

hr {
    border: 0;
    border-top: 1px solid #ffffff80;
    border-bottom: 1px solid #646464cc;
    height: 0;
    margin: 15px auto;
}

ul {
    font-size: 16px; /* mobile */
    list-style-type: "○";
    margin-top: 40px;
    padding-left: 20px;
}

li {
    margin-bottom: 1.2em;
    padding-left: 1em;
}

::selection {
    background-color: #00a290;
    color: #eee;
}

.serif {
    font-family: "Georgia", "Times New Roman", "Times", serif;
}

.mono {
    font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Fira Mono", "Monaco", "Consolas", "Courier New", monospace;
}

.container {
    height: fit-content;
    margin: auto;
    padding-bottom: 200px;
    position: relative;
    top: 8%; /* mobile */
    width: 80%; /* mobile */
}

.headline {
    color: white;
    display: block;
    font-size: 54px; /* mobile */
    margin: 30px auto;
    width: fit-content;
}

.axial-link {
    color: #eee;
    display: block;
    font-size: 34px;
    font-weight: 600;
    margin: 30px auto;
    text-shadow: 0px 4px #685988;
    width: fit-content;
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@media only screen and (min-width: 700px) {
    .container {
	top: 18%;
	width: 50%;
    }

    .headline {
	font-size: 72px;
    }

    p {
	font-size: 26px;
    }

    ul {
	font-size: 20px;
    }
}
