html {
    height: 100%;
}

body {
    background-color: #111;
    color: #fefefe;
    font-family: "Space Grotesk", sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

a {
    color: pink;
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 1.0;
}

a:hover {
    opacity: 0.7;
}

p {
    font-size: 20px; /* mobile */
    margin: 30px 0px;
}

hr {
    border: 0;
    border-top: 1px solid #ffffff80;
    border-bottom: 1px solid #646464cc;
    height: 0;
}

ul {
    font-size: 16px; /* mobile */
    list-style-type: "○";
    margin-top: 40px;
    padding-left: 20px;
}

li {
    margin-bottom: 1.2em;
    padding-left: 1em;
}

::selection {
    background-color: #00a290;
    color: #eee;
}

.serif {
    font-family: "Georgia", "Times New Roman", "Times", serif;
}

.mono {
    font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Fira Mono", "Monaco", "Consolas", "Courier New", monospace;
}

.container {
    height: fit-content;
    margin: auto;
    padding-bottom: 200px;
    position: relative;
    top: 8%; /* mobile */
    width: 80%; /* mobile */
}

.headline {
    border-bottom: 2px solid #eee9;
    border-radius: 2px;
    margin: 10px auto;
    text-align: center;
    width: fit-content;
}

.headline a {
    color: white;
    display: block;
    font-size: 48px; /* mobile */
    line-height: 1;
    margin: 12px auto;
}

.trunk {
    margin-top: 75px;
}

.axial-link {
    color: #eee;
    display: block;
    text-align: center;
    text-shadow: 0px 4px #685988;
    font-size: 30px;
    font-weight: 600;
    margin: 45px auto;
    width: fit-content;
}

.remarked-website-categories {
    margin: auto;
}

.remarked-website-categories th {
    text-align: center;
    text-shadow: 0px 4px #685988;
    font-size: 34px;
    font-weight: 600;
    height: 80px;
    width: 80px;
}

.remarked-website-categories a {
    color: #eee;
}

.media-logs {
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.media-logs li {
    padding-left: 0;
    margin-bottom: 1.3em;
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@media only screen and (min-width: 700px) {
    .container {
	top: 16%;
	width: 50%;
    }

    .headline {
	font-size: 60px;
    }

    p {
	font-size: 26px;
    }

    ul {
	font-size: 20px;
    }
}
