.post-core {
    color: #ddd;
}

.post-core h1 {
    font-size: 34px; /* mobile */
    margin-top: 2em; /* mobile */
    margin-bottom: 1em;
}

.post-core h2 {
    font-size: 30px; /* mobile */
    margin-top: 1.4em; /* mobile */
    margin-bottom: 1em;
}

.post-core h3 {
    font-size: 26px; /* mobile */
    margin-top: 1.2em; /* mobile */
    margin-bottom: 1em;
}

.post-core p {
    font-size: 20px; /* mobile */
    margin: 1em 0; /* mobile */
    line-height: 1.5; 
}

.post-core strong, h1, h2, h3 {
    font-weight: 700;
}

.post-core blockquote {
    background-color: #191919;
    border-left: 4px #343455 solid;
    border-right: 4px #343455 solid;
    color: #ccc;
    margin: 10px 0;
    padding: 0.8em 1.4em; /* mobile */
}

.post-core blockquote > p {
    margin: 0
}

.post-core ol {
    font-size: 20px; /* mobile */
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 0 0 1.2em; /* mobile */
}

.post-core ul {
    font-size: 20px; /* mobile */
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 0 0 1.2em; /* mobile */
}

.post-core li::marker {
    color: #6f70b9;
}

.post-core li {
    padding-left: 0.25em;
}

.post-core li:not(:last-child) {
    margin-bottom: 0.4em;
}

.post-core .bulletless {
    list-style-type: none;
    margin-left: 0; /* mobile */
    margin-right: 0; /* mobile */
}

.post-core .diary-list {
    gap: 8px 10px;
    display: flex;
    flex-wrap: wrap;
}

.post-core hr {
    border: 1px #6f70b9 solid;
    width: 90%; /* mobile */
    margin: 50px auto; /* mobile */
}

.post-core a {
    color: #6f70b9;
}

.post-core .MathJax {
    min-width: 0 !important;
}

.post-core mjx-math {
    font-size: 22px; /* mobile */
}

.post-core mjx-container[display="true"] {
    overflow-x: scroll;
}

.post-core qed {
    float: right;
    color: #8070a4;
}

.post-core code:not(.hljs) {
    background: #242424;
    border-radius: 8px;
    color: #ddd;
    font-size: 13px !important; /* mobile */
    padding: 3px 8px;
}

.post-core code.hljs {
    background: #101010;
    border-radius: 10px;
    font-size: 15px !important; /* mobile */
    padding: 1.3em !important; /* mobile */
}

.post-core .date-mark {
    color: #ccc !important;
    display: block; /* mobile */
    margin-left: auto; /* mobile */
    width: fit-content; /* mobile */
}

.post-core table {
    background: #101010;
    border-collapse: collapse;
    font-size: 18px; /* mobile */
    margin: 1em auto;
    max-width: 100%; /* mobile */
    min-width: 80%; /* mobile */
}

.post-core tr,
.post-core th,
.post-core td {
    border: 2px #343453 solid;
}

.post-core th,
.post-core td {
    padding: 1em; /* mobile */
    min-width: 2em; /* mobile */
}

.post-core .ref-table tr,
.post-core .ref-table th,
.post-core .ref-table td {
    border: none !important;
}

.post-core .ref-table th {
    text-align: right;
    vertical-align: top;
}

.post-core .ref-table td {
    vertical-align: top;
}

.post-core .ref-table {
    background: none;
    margin-left: 0;
    margin-right: 0;
    min-width: 0 !important; max-width: 100% !important;
}

.post-core .ref-table th:not(:last-child),
.post-core .ref-table td:not(:last-child) {
    padding: 0.3em 0.6em 0.3em 0;
}

.post-core .ref-table th:last-child,
.post-core .ref-table td:last-child {
    padding: 0.3em 0;
}

.post-core img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    min-width: 5%;
}

.post-core figure {
    margin: 4px 0;
}

.post-core figcaption {
    font-size: 14px; /* mobile */
    margin-top: 4px;
    margin-bottom: 4px;
    opacity: 0.8;
    text-align: center;
}

@media only screen and (min-width: 700px) {
    .post-core h1 {
	font-size: 38px;
	margin-top: 3em;
	margin-bottom: 1em;
    }

    .post-core h2 {
	font-size: 34px;
	margin-top: 1.8em;
	margin-bottom: 1em;
    }

    .post-core h3 {
	font-size: 30px;
	margin-top: 1.4em;
	margin-bottom: 1em;
    }

    .post-core p {
	font-size: 22px;
	margin: 1em 0;
    }

    .post-core blockquote {
	padding: 1em 1.4em;
    }

    .post-core ol {
	font-size: 22px;
	margin: 1em;
	padding: 0 1em;
    }
    
    .post-core ul {
	font-size: 22px;
	margin: 1em;
	padding: 0 1em;
    }

    .post-core .bulletless {
	margin: 1em;
    }

    .post-core hr {
	margin: 80px auto;
	width: 65%;
    }

    .post-core .MJX-TEX {
	font-size: 24px;
    }

    .post-core code:not(.hljs) {
	font-size: 16px !important;
    }
    
    .post-core code.hljs {
	font-size: 16px !important;
	padding: 2em 3em !important;
    }

    .post-core .date-mark {
	display: inline-block;
	margin: unset;
    }
    .post-core table {
	font-size: 22px;
	max-width: 80%;
	min-width: 50%;
    }

    .post-core th,
    .post-core td {
	padding: 1em 2em;
	min-width: 4em;
    }

    .post-core figcaption {
	font-size: 18px;
    }
}
