.post-core dr-t {
    color: var(--col-t-2);
}

.post-core dr-tt {
    color: var(--col-t-3);
}

.post-core dr-persp::before {
    content: "⊙ ";
}

.post-core dr-recog::before {
    content: "❮"
}

.post-core dr-recog::after {
    content: "❯"
}

.post-core dr-think {
    border-bottom: dotted 4px var(--col-t-1);
}

.post-core dr-ref::before {
    content: "➔ ";
}

.post-core dr-comm::before {
    content: "✜ ";
}

.post-core dr-contra::after {
    content: "✸";
}

.post-core dr-fog::before {
    content: "▒▒";
}

