body {
    background: #141414;
    color: #fefefe;
    font-family: "Space Grotesk", "Noto Sans SC", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    transition: opacity 0.2s;
}

a:hover {
    opacity: 65% !important;
}

h1 a, h2 a, h3 a {
    color: #ddd !important;
}

code {
    font-family: "Ubuntu Mono", "Source Code Pro", "JetBrains Mono", "Monaco", monospace !important;
}

#ground {
    margin-bottom: 12em;
}

.post-shell {
    color: #ddd;
    margin: 40px auto 20px auto; /* mobile */
    width: 80%; /* mobile */
}

.post-limbo {
    margin-bottom: 30px;
}

.post-limbo h1 {
    color: #999;
    font-size: 30px; /* mobile */
    margin-top: 10px; /* mobile */
    margin-bottom: 5px;
}

.post-limbo p {
    color: #555586;
    font-size: 18px; /* mobile */
    margin-top: 0px;
    margin-bottom: 8px;
}

@media only screen and (min-width: 700px) {
    .post-shell {
	margin: 86px auto 32px auto;
	width: 61.8%;
    }

    .post-limbo {
	margin-bottom: 70px;
    }

    .post-limbo h1 {
	font-size: 40px;
	margin-top: 20px;
    }

    .post-limbo p {
	font-size: 22px;
    }
}
