header {
    background-color: #eee;
    border-bottom: 2px #ddd solid;
    font-family: "Space Grotesk";
    margin-top: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

#header-shell {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header-core {
    display: inline-block;
}

.header-core a {
    opacity: 90%;
}

#header-core-left a {
    color: #222;
}

#header-core-right a {
    color: #444;
}

#header-core-right {
    float: right;
}

@media (max-device-width: 900px) {
    header {
	border-width: 4px !important;
	padding-top: 28px !important;
	padding-bottom: 28px !important;
    }

    #header-shell {
	font-size: 34px;
	width: 80% !important;
    }
}
