header {
    background-color: var(--col-b-1);
    color: var(--col-t-3);
    font-family: "Exo 2";
    margin-top: 0;
    padding: 24px 0;
}

#header-shell {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* mobile */
}

.header-core {
    display: inline-block;
}

.header-core a {
    opacity: 90%;
}

#header-core-left a {
    color: var(--col-t-2);
}

#header-core-right a {
    color: var(--col-t-2);
}

#header-core-right {
    float: right;
}

@media only screen and (min-width: 700px) {
    #header-shell {
	width: 50%;
    }
}
