body {
    background-color: var(--col-b-2);
    color: var(--col-t-3);
    font-family: "Exo 2", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    transition: opacity 0.2s;
}

a:hover {
    opacity: 65% !important;
}

code {
    font-family: "Lekton";
}

.fraktur {
    font-family: "UnifrakturMaguntia";
}

#ground {
    margin-bottom: 12em;
}

.post-shell {
    color: var(--col-t-3);
    margin: 40px auto 20px auto; /* mobile */
    width: 80%; /* mobile */
}

.post-limbo {
    margin-bottom: 30px;
}

.post-limbo h1 {
    color: var(--col-t-1);
    font-size: 34px; /* mobile */
    margin-top: 10px; /* mobile */
    margin-bottom: 5px;
}

.post-limbo p {
    display: block; /* mobile */
    color: var(--col-s-1);
    font-size: 18px; /* mobile */
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-limbo-separator {
    display: none !important; /* mobile */
}

@media only screen and (min-width: 700px) {
    .post-shell {
	margin: 86px auto 32px auto;
	width: 61.8%;
    }

    .post-limbo {
	margin-bottom: 70px;
    }

    .post-limbo h1 {
	font-size: 38px;
	margin-top: 20px;
    }

    .post-limbo p {
	font-size: 22px;
    }
}

@media only screen and (min-width: 900px) {
    .post-limbo p {
	display: inline-block;
    }

    .post-limbo-separator {
	display: inline-block !important;
    }
}
