<!DOCTYPE html>
<html>
    <head>
	<link href="/css/variables.css" type="text/css" rel="stylesheet" />
	<link href="/css/header.css" type="text/css" rel="stylesheet" />
	<link href="/css/headline.css" type="text/css" rel="stylesheet" />
	<link href="/css/content.css" type="text/css" rel="stylesheet" />
	<link href="/css/main.css" type="text/css" rel="stylesheet" />

        <link href="/res/favicon.ico" type="image/x-icon" rel="icon" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="/js/jquery-4.0.0.slim.min.js"></script>

	<script async src="/js/mathjax-4.0.0.js"></script>
	<script>
	    MathJax = {
		tex: {
		    inlineMath: {"[+]": [["$", "$"]]}
		}
	    }
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@catppuccin/highlightjs@1.0.1/css/catppuccin-mocha.css">
	<script>hljs.highlightAll();</script>

	<title>{{ page.title }} • {{ site.title }}</title>
    </head>
    <body>
	<div id="space">
	    <header>
		<div class="panel">
		    <div style="display: flex">
			<div id="header-left"><p>
			    <a href="/codex">Codex</a>
			    {% if page.topic %}
			    &gt; <a href="/codex/{{ page.field }}/{{ page.topic }}">{{ site.data.disp[page.topic] }} ({{ site.data.disp[page.field] }})</a>
			    {% endif %}
			</p></div>
			<div id="header-right">
			    <a href="/posts">Posts</a>
			    <a href="/links">Links</a>
			</div>
		    </div>
		</div>
	    </header>
	    <div class="panel">
		<div class="headline">
		    <h1>{{ page.title }}</h1>
		    {% if page.date %}
		    <p>🅟 {{ page.date | date: "%b %d, %Y" }}</p>
		    {% endif %}
		    {% if page.updated %}
		    <p>&ensp; 🅤 {{ page.updated | date: "%b %d, %Y" }}</p>
		    {% endif %}
		</div>
	    </div>
	    <div class="panel">
		{% unless page.empty %}
		<div class="content">
		    {{ content }}
		</div>
		{% endunless %}
	    </div>
	</div>

	{% if page.categories contains "codex" %}
	<script>
	    $(function () {
		$(".codex-h").each(function () {
		    let heading = $(this).text();
		    let headingSplit = heading.replaceAll(".", "").split(" ");
		    let hash = headingSplit[0];
		    $(this).attr("id", hash);
		    $(this).wrapInner(`<a href="#${hash}"></a>`);
		});
	    });
	</script>
	{% endif %}
    </body>
</html>

