<!DOCTYPE html>
<html>
    <head>
	<link href="/css/variables.css" type="text/css" rel="stylesheet" />
	<link href="/css/header.css" type="text/css" rel="stylesheet" />
	<link href="/css/headline.css" type="text/css" rel="stylesheet" />
	<link href="/css/content.css" type="text/css" rel="stylesheet" />
	<link href="/css/main.css" type="text/css" rel="stylesheet" />

        <link href="/res/favicon.ico" type="image/x-icon" rel="icon" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="/js/jquery-4.0.0.slim.min.js"></script>

	<script src="/js/mathjax/tex-chtml.js" defer></script>
	<script>
	    MathJax = {
		tex: {
		    inlineMath: {"[+]": [["$", "$"]]}
		},
		output: {
		    fontPath: "/js/mathjax/mathjax-newcm-font"
		}
	    }
	</script>

	<link rel="stylesheet" href="/js/highlight/styles/default.min.css">
	<link rel="stylesheet" href="/js/highlight/styles/catppuccin-mocha.css">
	<script src="/js/highlight/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>

	<title>{{ page.title }} • {{ site.title }}</title>
    </head>
    <body>
	<div id="space">
	    <header>
		<div class="panel">
		    <div style="display: flex">
			<div id="header-left"><p>
			    <a href="/codex">Codex</a>
			    {% if page.topic %}
			    &gt; <a href="/codex/{{ page.field }}/{{ page.topic }}">{{ site.data.disp[page.topic] }} ({{ site.data.disp[page.field] }})</a>
			    {% endif %}
			</p></div>
			<div id="header-right">
			    <a href="/posts">Posts</a>
			    <a href="/links">Links</a>
			</div>
		    </div>
		</div>
	    </header>
	    <div class="panel">
		<div class="headline">
		    <h1><a href="">{{ page.title }}</a></h1>
		    {% if page.date %}
		    <p>🅟 {{ page.date | date: "%b %d, %Y" }}</p>
		    {% endif %}
		    {% if page.updated %}
		    <p>&ensp; 🅤 {{ page.updated | date: "%b %d, %Y" }}</p>
		    {% endif %}
		</div>
	    </div>
	    <div class="panel">
		{% unless page.empty %}
		<div class="content">
		    {{ content }}
		</div>
		{% endunless %}
	    </div>
	</div>
    </body>
</html>

