---
layout: carbon
---

{% assign posts = site.codex | where: "branch", page.branch | where: "topic", page.topic %}

{% for B in site.data.codex %}
    {% if B[0] == page.branch %}
    {% assign T_layer = B[1] %}
    {% break %}
    {% endif %}
{% endfor %}

{% for T in T_layer %}
    {% if T[0] == page.topic %}
    {% assign sorted_slugs = T[1] %}
    {% break %}
    {% endif %}
{% endfor %}

<ul class="no-indent">
{% for slug in sorted_slugs %}
    {% assign post_found = false %}
    {% for post in posts %}
    {% if post.slug == slug %}
        {% assign post_found = true %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% break %}
    {% endif %}
    {% endfor %}
    {% unless post_found %}
    <li>Unknown slug: {{ slug }}</li>
    {% endunless %}
{% endfor %}
</ul>

