<!DOCTYPE html>
<html>
    <head>
	<link href="/css/colors.css" type="text/css" rel="stylesheet" />
        <link href="/css/page/general.css" type="text/css" rel="stylesheet" />

        <link href="/res/favicon.ico" type="image/x-icon" rel="icon" />

	<link href="https://fonts.googleapis.com" rel="preconnect" />
	<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml" />

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<script type="module" src="/js/polymerase.js"></script>

	<title>{{ page.title }} | {{ site.title }}</title>

	<meta name="description" content="{{ site.description }}" />
	<meta name="author" content="{{ site.author }}" />
	<meta name="robots" content="noodp,noydir" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="container">
	    {% if page.headline %}
	    {% if page.previous %}
		<div class="headline">
		    <a href="{{ page.previous }}">{{ page.headline }}</a>
		</div>
	    {% else %}
		<div class="headline">
		    <a href="/">{{ page.headline }}</a>
		</div>
	    {% endif %}
	    {% endif %}
            {{ content }}
        </div>
    </body>
</html>
