---
layout: carbon
title: Codex > Set Theory
---

{% assign all_posts = site.categories["codex"] %}

{% assign area = "set-theory" %}
{% assign SECTIONS = "sets|relations|functions|orders|" | split: "|" %}
{% assign SECTIONS_DISP = "Sets|Relations|Functions|Orders" | split: "|" %}

{% for section in SECTIONS %}
    <h3>{{ SECTIONS_DISP[forloop.index0] }}</h3>
    {% capture section_full %}{{ area }} {{ section }}{% endcapture %}
    {% assign posts = all_posts | where: "section", section_full | sort: "ordinal" %}
    <ul class="post-listing">
	{% for post in posts %}
	<li><a href="{{ post.url }}">{{ post.title }}</a> <code>{{ post.date | date: "%b %d, %Y" }}</code></li>
	{% endfor %}
    </ul>
{% endfor %}

